<launch>
    <!-- Do mapping argument -->
    <arg name="mapping" default="false"/>

    <!-- Do not use machine files argument -->
    <arg name="sim" default="false"/>

    <!-- Hardware version -->
    <arg name="hardware" default="simulation"/>

  	<node machine="pc2" name="dynamixel_manager" pkg="dynamixel_controllers" type="controller_manager.py" output="screen">
        <rosparam>
            namespace: neck_dynamixel_manager
            serial_ports:
                neck_port:
                    port_name: "/dev/usb2serial/neck_controller"
                    baud_rate: 1000000
                    min_motor_id: 1
                    max_motor_id: 2
                    update_rate: 20
        </rosparam>
    </node>

    <!-- Start neck pan and tilt joint controllers -->
    <rosparam file="$(find rose21_platform)/launch/neck_controller.yaml" command="load"/>
    
    <node machine="pc2" name="neck_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=neck_dynamixel_manager
                --port neck_port
                neck_tilt_controller
                neck_pan_controller"
          output="screen"/>

    <include file="$(find rose21_platform)/launch/neck.launch" /> 
</launch>
