<launch>
    <!-- Do mapping argument -->
    <arg name="mapping" default="false"/>

    <!-- Do not use machine files argument -->
    <arg name="sim" default="false"/>

    <!-- Hardware version -->
    <arg name="hardware" default="simulation"/>

    <!-- Gmapping -->
    <node machine="pc1" pkg="gmapping" type="slam_gmapping" name="SLAM_gmapping" output="screen">
		<param name="map_update_interval" value="1.0" />
		<param name="linearUpdate" value="0.25" />
		<param name="maxUrange" value="4.0" />
        <param name="maxRange" value="15.0" />
		<param name="xmin" value="-25.0" />
		<param name="xmax" value="25.0" />
		<param name="ymin" value="-25.0" />
        <param name="ymax" value="25.0" />
		<param name="delta" value="0.025" />
    </node> 
    
</launch>
