<launch>
    <!-- Do mapping argument -->
    <arg name="mapping" default="false"/>

    <!-- Do not use machine files argument -->
    <arg name="sim" default="false"/>

    <!-- Hardware version -->
    <arg name="hardware" default="simulation"/>

    <!-- Gmapping -->
    <node machine="pc1" pkg="gmapping" type="slam_gmapping" name="SLAM_gmapping" output="screen">
		<param name="map_update_interval" value="1.0" />
		<param name="linearUpdate" value="0.25" />
		<param name="maxUrange" value="4.0" />
        <param name="maxRange" value="15.0" />
		<param name="xmin" value="-25.0" />
		<param name="xmax" value="25.0" />
		<param name="ymin" value="-25.0" />
        <param name="ymax" value="25.0" />
		<param name="delta" value="0.025" />
    </node> 
    
    <!-- depthimage_to_laserscan -->
    <!--<node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan" output="screen" >
        <remap from="image" to="/camera/depth/image_raw"/>
        <param name="scan_height" value="1" />
        <param name="scan_time" value="0.033" />
        <param name="range_min" value="0.45" />
        <param name="range_max" value="10.0" />
        <param name="output_frame_id" value="camera_depth_frame" />
    </node> -->

</launch>
